<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">

    <resultMap id="mapMember" type="member">
        <result column="id" property="id" />
        <result column="member_id" property="userId" />
        <result column="member_password" property="memberPassword" />
        <result column="member_name" property="memberName" />
        <result column="member_mobile" property="memberMobile" />
        <result column="member_role" property="memberRole" />
        <result column="create_date" property="createDate" />
        <result column="login_count" property="login_count" />
        <result column="del_yn" property="fileAttached" />
        <result column="member_status" property="delYn" />
        <result column="file_attached_yn" property="memberStatus" />
    </resultMap>

<!--    resultMap  -->

    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into member_table(member_id, member_password, member_name, member_mobile, file_attached_yn)
                values(#{userId}, #{memberPassword}, #{memberName}, #{memberMobile}, #{fileAttached})
    </insert>
    
    <insert id="saveFileName" parameterType="memberFile">
        insert into member_file(originalFileName, storedFileName, memberId)
                values (#{originalFileName}, #{storedFileName}, #{memberId})
    </insert>

    <select id="duplicateCheck" parameterType="String" resultType="String">
        select member_id
        from member_table
        where member_id=#{inputId}
    </select>

    <select id="login" parameterType="member" resultMap="mapMember">
        select * from member_table
                 where member_id=#{userId} and member_password=#{memberPassword}
    </select>

</mapper>














